body{
	/* 초기화 */
	margin: 0;
	padding: 0;
}

.header{
	background-color: white;
	border-bottom: 1px solid lightgray;
}

.container{
	width: 980px;
	margin: auto; /*수평 중앙으로 자동 정렬됨*/
	/* background-color: tomato; */
	/* padding: 20px 0px; */
}

.container-left{
	padding-top: 20px;
	padding-bottom: 20px;
}
.logo{
	float: left;
	margin-right: 5px;
}
/* logo class 안에 있는 하위요소에서 img 태그를 찾아서 사용 */
.logo img{
	display: block;
}
.menu{
	float: left;
}

.menu-item{
	float: left;
	padding: 8px 10px;
}

.clearfix::after{
	content: "";
	display: block;
	clear: both;
}